<div class="content">
    <div class="item">
        <dl>
            <dt>ID: <dd><?php echo $this->item['id'] ?>
            <dt>Title: <dd><?php echo $this->item['title'] ?>
            <dt>Synopsis: <dd><?php echo $this->item['synopsis'] ?>
            <dt>Release date: <dd><?php echo date('m/d/Y', $this->item['release_timestamp']) ?>
        </dl>
    </div>
</div>
