<div class="content">
	<?php if (!count($this->items)): ?>
		<b>No item(s) found!</b>
	<?php else: ?>
		<?php foreach ($this->items as $item): ?>
			<div class="item">
				<dl>
                    <dt>ID: <dd><a href="/v1/item/<?php echo $item['id'] ?>"><?php echo $item['id'] ?></a>
					<dt>Title: <dd><?php echo $item['title'] ?>
					<dt>Synopsis: <dd><?php echo $item['synopsis'] ?>
				</dl>
			</div>
		<?php endforeach; ?>
	<?php endif ?>
</div>
